DATABASE_URL=
DB_POOL_INITIALIZATION_FAIL_TIMEOUT=1
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

APP_ALLOWED_ORIGINS=http://localhost:8080,https://*.up.railway.app
APP_CSP_CONNECT_SRC=
APP_REQUIRE_AUTH=true
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI=

JWT_SECRET=

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
